/* Challenge styles
-------------------------------------------------- */

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

[data-bs-theme="light"] .challenge-button {
  border: none;
  box-shadow: 0 0 15px var(--bs-secondary);

  &.challenge-solved {
    background-color: #29c830;

    &:hover {
      background-color: #37d63e;
    }
  }
  
.challenge-button {
  box-shadow: 3px 3px 3px #6e193c;
  background-color: #6e192a;
  border-radius: 0;
}

.challenge-name{
  text-shadow: none;
}

.challenge-button:hover {
  background-color: #962239;
}

.challenge-submit {
  border-radius: 0;
}

[data-bs-theme="dark"] .challenge-button {
  border: none;
  background-color: var(--bs-gray-dark);

  &:hover {
    background-color: var(--bs-gray);
  }

  &.challenge-solved {
    background-color: #29c830;

    &:hover {
      background-color: #37d63e;
    }
  }
}

.modal-content {
  border-radius: 0;
  background-color: #1e1e1e;
  color: #aaa;
}

.nav-tabs .nav-link {
  border-radius: 0;
}

.btn-close {
  color: #aaa;
}

.challenge-solves {
  color: #aaa;
}