/* Graph styles
-------------------------------------------------- */

#score-graph {
  min-height: 400px;
}

#solves-graph {
  display: block;
  height: 350px;
}

#keys-pie-graph {
  min-height: 400px;
  display: block;
}

#categories-pie-graph {
  min-height: 400px;
  display: block;
}

#score-graph > div > canvas, .challenge-charts{
  background-color: #fff;
}
